body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #232222;
}
a {
  color: #001e64;
  text-transform: uppercase;
  /* transition: all 0.3s; */
}
h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", serif;
  color: #001e64;
}
h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 95px;
}
h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #232222;
}
h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  background-image: url(../images/background.jpg);
  background-position: center 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}
.header__top ul {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: 500;
}
.header__top ul li + li {
  margin-left: 30px;
}
.header__top ul li a {
  border-bottom: none;
}
.header__top ul li a:hover {
  border-bottom: 2px solid #001e64;
}
.phone {
  background-image: url(../images/phone.svg);
  width: 30px;
  height: 30px;
  margin-top: 15px;
}
.header__title {
  max-width: 590px;
  margin: 120px 0 50px 110px;
}
.header-slider {
  max-width: 510px;
  padding-left: 110px;
  padding-top: 50px;
  padding-bottom: 135px;
}
.header-slider__item {
  color: #fff;
  /* max-width: 407px; */
  font-size: 18px;
  line-height: 120%;
}
.header-slider__text {
  margin-bottom: 40px;
}
.header__content-btn {
  display: inline-block;
  padding: 14px 87px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  margin-left: 110px;
  transform: translateY(-125px);
}
.slick-btn {
  position: absolute;
  left: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.slick-prev {
  top: 0;
}
.slick-next {
  bottom: 0;
}
.header-slider .slick-dots {
  position: absolute;
  left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  top: 58px;
  bottom: 55px;
  list-style: none;
  z-index: 1;
}
.slick-dots button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
  padding: 0;
  margin-left: 2px;
}
.slick-active button {
  opacity: 1;
}
.slick-dots button::before {
  content: "0";
}
.slick-dots li:nth-child(n + 10) button::before {
  content: "";
}
.product {
  margin-top: 100px;
}
.product__inner {
  display: flex;
  justify-content: space-between;
}
.product__name {
  text-align: center;
  width: 510px;
  height: 500px;
  padding: 50px 0;
}
.product__name h3 {
  margin: 15px 0;
}
.name-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  /* position: absolute; */
  margin: 15px 0;
}

.product__name .slick-current {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 36px;
  color: #001e64;
}
.product__name h3 {
  cursor: pointer;
}
.product__content {
  width: 600px;
}
.product__content-box {
  display: flex;
}
.product__content-box span {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #001e64;
}
.product__content-box p {
  margin-bottom: 30px;
}
.product__content-box img {
  max-width: 260px;
  max-height: 222px;
  margin-right: 40px;
  margin-bottom: 35px;
}
.product__content h4 {
  margin-bottom: 20px;
}
.product__content-btn {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #001e64;
  padding: 12px 85px;
  border: 1px solid #001e64;
  border-radius: 20px;
  background-color: transparent;
  margin-top: 26px;
  cursor: pointer;
}
.benefits {
  background-image: url(../images/benefits-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 290px 0 95px;
}
.benefits__inner {
  display: flex;
  justify-content: space-around;
}
.benefits__item {
  width: 180px;
  min-height: 165px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-image: url(../images/benefits-item.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.seafood {
  margin: 100px 0;
}
.seafood__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}
.seafood__item h4 {
  font-size: 24px;
  line-height: 120%;
  max-width: 490px;
  margin-bottom: 30px;
}
.seafood__item p {
  font-size: 16px;
  margin-bottom: 20px;
  max-width: 420px;
  align-items: start;
}
.seafood__item img {
  max-width: 600px;
}
.seafood__quote {
  max-width: 800px;
  text-align: center;
  margin: 50px auto 0;
}
.seafood__quote span {
  max-width: 696px;
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.contacts {
  background-image: url(../images/contacts.jpg);
  background-repeat: no-repeat;
  background-position: left;
}
.contacts__box {
  margin-left: auto;
  width: 390px;
  background-color: #fff;
  padding: 33px 20px;
}
.contacts__box-text {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #001e64;
}
.contacts__box li{
margin: 30px 0;
}
.contacts__box a{
  text-transform: lowercase;
}
